.lamarket2-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0);
    position: relative;
}

.welcome-message {
    text-align: left;
    font-size: 66px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

}

.subtext {
    text-align: left;
    font-size: 24px;
    color: rgb(159, 158, 158);
    max-width: 600px;
}